// Define variables for your color scheme
$background-color: #ffffff;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$col_1: #FF9D2A;
$col_2: #5D5B29;
$col_3: #B73800;
$col_4: #A585A7;
