body {
  padding-bottom: 1em;
}

a {
  color: black !important;
}

.bg_col_1 { background-color: $col_1; }
.bg_col_2 { background-color: $col_2; }
.bg_col_3 { background-color: $col_3; }
.bg_col_4 { background-color: $col_4; }


.footer {
  height: 40vh;
  min-height: 500px;
  padding: 0;
}
