.books_container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 2em .5em;
  margin: 3em 1em 7em;
  min-height: 75vh;
}

@media screen and (max-width: 1470px) {
  .books_container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .books_container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .books_container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

// FOR DASHBOARD PAGE
.book_grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2em .5em;
  .caption {
    grid-template-columns: 1fr 0;
  }
}
