<!-- Random Color -->
<% random_colour = ["bg_col_1", "bg_col_2", "bg_col_3", "bg_col_4"].sample %>

<div class="books-is-a-book-container <%= random_colour %>">
  <div class="shape-container" >
    <svg viewBox="0 0 1920 1080" preserveAspectRatio="none" overflow="visible">
      <defs>
        <style>
          .st0 {
            fill: none;
            stroke: #000;
            stroke-miterlimit: 3;
            stroke-width: 50px;
          }
        </style>
      </defs>
      <path class="st0" vector-effect="non-scaling-stroke" d="M0,1080c121.36-86.47,291.55-140.27,480-140.27s358.64,53.79,480,140.27c121.36-86.47,291.55-140.27,480-140.27s358.64,53.79,480,140.27V0c-121.36,86.47-291.55,140.27-480,140.27S1081.36,86.47,960,0c-121.36,86.47-291.55,140.27-480,140.27S121.36,86.47,0,0v1080Z"/>
    </svg>
    <div class="front">
      <div class="middle">
        <div class="graphic"></div>
      </div>
    </div>
  </div>
</div>
