<!-- Random Color -->
<% random_colour = ["bg_col_1", "bg_col_2", "bg_col_3", "bg_col_4"].sample %>
<!-- Footer -->
<div class="horizontal_container <%= random_colour %>" >
  Footer To Do (Not on every page)
</div>
