<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h4>Create a book</h4>

      <%= render "form", book: @book %>

      <p><%= link_to "All books", books_path %></p>
    </div>
  </div>
</div>
